
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

:root {
  --c1: #212121;
  --c2: #4d4d4d;
  --c3: #f2ecff;
  --c4: #00c896;
}  

body {
  padding: 3rem;
  min-height: 100vh;
  
  display: grid;
  place-items: center;
  
  background-color: var(--c1);
}  

.slider {
  --slider-width: 30vw;
  aspect-ratio: 161/100;
  width: var(--slider-width);
  border-radius: 1em;
}

.item {
  background-color: var(--c4);
}  

.item:nth-child(odd) {
  background-color: var(--c3);
}  


